<!DOCTYPE html>
<html>
  <head>
    <title>Zype</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar mb-2">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Home", root_path, class: "mx-2" %>
        </div>
        <% if signed_in? %>
          <ul class="nav navbar-right ">
            <li><%= link_to "Log out", signout_path, class: "mx-2", method: :delete %></li>
          </ul>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
